pandas
numpy
matplotlib
streamlit
tensorflow
nltk
scikit-learn
seaborn
# Pin versions to ensure compatibility
transformers==4.30.2
torch==1.13.1
huggingface_hub==0.14.1
sentence-transformers==2.2.2
shap 
lime
plotly
hdbscan
umap-learn
datasets==2.11.0